p{
    color: rgb(6, 93, 93);
    font-style: italic;
    font-size: large;
    width: 300px;
}

img{
    height: 300px;
    width: 300px;
    border-radius: 50%;
}



#head{
    color: green;
}

.group{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* universal selector -> means style to whole body*/
*{

    font-weight: 1000;
   
}

/* discendant selector */

div p{
    color: olivedrab;

}

/* child selector */

div>h3{

    color: rgb(8, 74, 125);
}

/* sibiling selector */

h3~ol{

}

/* immediate sibling */

h4+ul{
    color: teal;
}