*{
   text-align: center;
}

img{
    border-radius: 20px;
   
}

h1{
    color: rgba(255, 0, 0, 0.763);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 900;
    text-decoration: underline;
    
}

label{
    border:  5px solid rgb(250, 222, 13);
    padding: 10px 10px;
    font-size: large;
    font-weight: bolder;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p{
    margin-top: 20px;
    font-weight: 500;
    font-style: normal;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

#btn{
    height: 50px;
    width: 200px;
    color: rgb(250, 21, 21);
    background-color: black;
    border-radius: 20px;
}

a{
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-weight: 1000px;
    font: bold;
}
#sanju{
    height: 30px;
    width: 50px;
    color: blue;
    background-color: black;
    border-radius: 50px;
}