.col{
    height: 300px;
    width: 250px;
    border: 2px solid black;
    background-color: teal;

    /* for horizontal arranging */
   /* float: left; */

   position: absolute;
   top: 30px;
   /* margin-left: 10px; */
   


}

/* for image in background */

#main{

    background-image: url('https://images.pexels.com/photos/6308163/pexels-photo-6308163.jpeg');
    height: 1000px;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
   
}

*{
    margin: 0px;
}

h1{
    /* padding-top: 400px;
    text-align: center; */
    color: rgb(237, 152, 41);
    margin: 10px;

}

header{

    padding: 10px;
    background-color: rgb(203, 38, 38);
    position: fixed;
    width: 100%;   
    height: 50px; 
    

   

}

.row{
    height: 400px;
    background-color: aquamarine;
    position: relative;
    
}

p{
    margin: 10px;
    font-weight: 300;
}

#move{
    background-color: #d6ed06;
    position: sticky;
    top: 80px;

}